In [15]:
import pandas as pd
from datetime import datetime,timedelta

In [35]:
countries = pd.read_csv('https://raw.githubusercontent.com/kazuhirokida/classification/master/JHU_Classification.csv',na_filter=False)

In [36]:
jhu = pd.read_csv('https://github.com/kazuhirokida/covid-19/raw/master/countries.csv',na_filter=False)

In [37]:
iso = pd.read_csv('https://raw.githubusercontent.com/kazuhirokida/classification/master/ISO.csv',na_filter=False)

In [38]:
un = pd.read_csv('https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_TotalPopulationBySex.csv')
un = un[(un.Time==2020)&(un.Variant=='Medium')]

In [39]:
countries['Japanese'] = countries.ISO2.map(jhu.set_index('Code').Japanese.to_dict())
countries['latlong'] = countries.ISO2.map(jhu.set_index('Code').latlong.to_dict())
countries['Numeric'] = countries.ISO2.map(iso.set_index('Alpha-2 code').Numeric.to_dict())

In [40]:
countries['Region_j'] = countries.Region.map(
    {'Africa':'アフリカ','Asia':'アジア','Cruise Liner':'クルーズ船','Europe':'欧州','Latin America and Caribbean':'南米','Middle East':'中東',
     'North America':'北米','Oceania':'オセアニア'})

In [41]:
countries[countries.Numeric.isna()]

,ISO2,ISO3,Country,Region,Classification,Japanese,latlong,Numeric,Region_j
82,DP*,DP*,Diamond Princess,Cruise Liner,Other*,ダイヤモンド・プリンセス（クルーズ船）,"34.000,143.000",NaN,クルーズ船
83,MS*,MSZ*,MS Zaandam,Cruise Liner,Other*,MSザーンダム（クルーズ船）,,NaN,クルーズ船
93,CI*,CI*,Channel Islands,Europe,Developed,NaN,NaN,NaN,欧州
113,XK,XKX,Kosovo,Europe,Developing,コソボ,"42.662,21.158",NaN,欧州

In [42]:
countries['population'] = countries.Numeric.map(un.set_index('LocID').PopTotal.to_dict())

In [45]:
countries = countries.append(pd.Series({'ISO2':'NaN','ISO3':'NaN','Country':'Cruise Liner','Region':'Cruise Liner',
                      'Classification':'Other*','Japanese':'クルーズ船などその他','latlong':'34.000,143.000',
                     'Numeric':'NaN'}),ignore_index=True)

In [47]:
countries.to_csv('country_stats.csv', encoding='utf_8_sig')