In [59]:
import pandas as pd
from datetime import datetime,timedelta

In [118]:
countries = pd.read_csv('https://raw.githubusercontent.com/kazuhirokida/classification/master/JHU_Classification.csv',na_filter=False)

In [119]:
jhu = pd.read_csv('https://github.com/kazuhirokida/covid-19/raw/master/countries.csv',na_filter=False)

In [120]:
iso = pd.read_csv('https://raw.githubusercontent.com/kazuhirokida/classification/master/ISO.csv',na_filter=False)

In [121]:
countries['Japanese'] = countries.ISO2.map(jhu.set_index('Code').Japanese.to_dict())
countries['latlong'] = countries.ISO2.map(jhu.set_index('Code').latlong.to_dict())
countries['Numeric'] = countries.ISO2.map(iso.set_index('Alpha-2 code').Numeric.to_dict())

In [122]:
countries = countries.append(pd.Series({'ISO2':'SB','ISO3':'SLB','Country':'Solomon Islands','Region':'Oceania',
                      'Classification':'Developing','Japanese':'ソロモン諸島','latlong':'NaN','Numeric':90}),ignore_index=True)

In [123]:
countries

,ISO2,ISO3,Country,Region,Classification,Japanese,latlong,Numeric
0,DZ,DZA,Algeria,Africa,Developing,アルジェリア,"28.723,2.868",12.0
1,AO,AGO,Angola,Africa,Developing,アンゴラ,"-12.768,15.743",24.0
2,BJ,BEN,Benin,Africa,Developing,ベナン,"9.359,2.611",204.0
3,BW,BWA,Botswana,Africa,Developing,ボツワナ,"-21.980,23.662",72.0
4,BF,BFA,Burkina Faso,Africa,Developing,ブルキナファソ,"12.524,-1.855",854.0
...,...,...,...,...,...,...,...,...
217,NC,NCL,New Caledonia,Oceania,Developing,NaN,NaN,540.0
218,NZ,NZL,New Zealand,Oceania,Developed,ニュージーランド,"-41.269,174.759",554.0
219,MP,MNP,Northern Mariana Islands,Oceania,Developing,NaN,NaN,580.0
220,PG,PNG,Papua New Guinea,Oceania,Developing,パプアニューギニア,"-5.690,143.400",598.0
221,SB,SLB,Solomon Islands,Oceania,Developing,ソロモン諸島,NaN,90.0

In [89]:
un = pd.read_csv('https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_TotalPopulationBySex.csv')
un = un[(un.Time==2020)&(un.Variant=='Medium')]

In [124]:
countries['Region_j'] = countries.Region.map(
    {'Africa':'アフリカ','Asia':'アジア','Cruise Liner':'クルーズ船','Europe':'欧州','Latin America and Caribbean':'南米','Middle East':'中東',
     'North America':'北米','Oceania':'オセアニア'})

In [125]:
countries[countries.Numeric.isna()]

,ISO2,ISO3,Country,Region,Classification,Japanese,latlong,Numeric,Region_j
82,DP*,DP*,Diamond Princess,Cruise Liner,Other*,ダイヤモンド・プリンセス（クルーズ船）,"34.000,143.000",NaN,クルーズ船
83,MS*,MSZ*,MS Zaandam,Cruise Liner,Other*,MSザーンダム（クルーズ船）,,NaN,クルーズ船
93,CI*,CI*,Channel Islands,Europe,Developed,NaN,NaN,NaN,欧州
113,XK,XKX,Kosovo,Europe,Developing,コソボ,"42.662,21.158",NaN,欧州

In [126]:
who = pd.read_csv('https://covid19.who.int/WHO-COVID-19-global-data.csv',na_filter=False)
who.columns = who.columns.str.replace(' ','')

In [127]:
who_region = who[['Country_code','WHO_region']].drop_duplicates()

In [128]:
countries['Region_who'] = countries['ISO2'].map(who_region.set_index('Country_code').WHO_region.to_dict())

In [129]:
countries[countries.Region_who.isna()]

,ISO2,ISO3,Country,Region,Classification,Japanese,latlong,Numeric,Region_j,Region_who
54,EH,ESH,Western Sahara,Africa,Developing,西サハラ,"24.860,-13.674",732.0,アフリカ,NaN
63,HK,HKG,Hong Kong,Asia,Developing,香港,"22.287,114.143",344.0,アジア,NaN
69,MO,MAC,Macau,Asia,Developing,マカオ,"22.159,113.564",446.0,アジア,NaN
78,TW,TWN,Taiwan*,Asia,Developing,台湾,"24.014,121.111",158.0,アジア,NaN
82,DP*,DP*,Diamond Princess,Cruise Liner,Other*,ダイヤモンド・プリンセス（クルーズ船）,"34.000,143.000",NaN,クルーズ船,NaN
83,MS*,MSZ*,MS Zaandam,Cruise Liner,Other*,MSザーンダム（クルーズ船）,,NaN,クルーズ船,NaN
93,CI*,CI*,Channel Islands,Europe,Developed,NaN,NaN,NaN,欧州,NaN

In [130]:
countries['population'] = countries.Numeric.map(un.set_index('LocID').PopTotal.to_dict())

In [131]:
countries = countries.append(pd.Series({'ISO2':'NaN','ISO3':'NaN','Country':'Cruise Liner','Region':'Cruise Liner',
                      'Classification':'Other*','Japanese':'クルーズ船などその他','latlong':'34.000,143.000','Region_j':'クルーズ船',
                     'Numeric':'NaN'}),ignore_index=True)

In [132]:
countries

,ISO2,ISO3,Country,Region,Classification,Japanese,latlong,Numeric,Region_j,Region_who,population
0,DZ,DZA,Algeria,Africa,Developing,アルジェリア,"28.723,2.868",12,アフリカ,AFRO,43851.043
1,AO,AGO,Angola,Africa,Developing,アンゴラ,"-12.768,15.743",24,アフリカ,AFRO,32866.268
2,BJ,BEN,Benin,Africa,Developing,ベナン,"9.359,2.611",204,アフリカ,AFRO,12123.198
3,BW,BWA,Botswana,Africa,Developing,ボツワナ,"-21.980,23.662",72,アフリカ,AFRO,2351.625
4,BF,BFA,Burkina Faso,Africa,Developing,ブルキナファソ,"12.524,-1.855",854,アフリカ,AFRO,20903.278
...,...,...,...,...,...,...,...,...,...,...,...
218,NZ,NZL,New Zealand,Oceania,Developed,ニュージーランド,"-41.269,174.759",554,オセアニア,WPRO,4822.233
219,MP,MNP,Northern Mariana Islands,Oceania,Developing,NaN,NaN,580,オセアニア,WPRO,57.557
220,PG,PNG,Papua New Guinea,Oceania,Developing,パプアニューギニア,"-5.690,143.400",598,オセアニア,WPRO,8947.027
221,SB,SLB,Solomon Islands,Oceania,Developing,ソロモン諸島,NaN,90,オセアニア,WPRO,686.878
222,NaN,NaN,Cruise Liner,Cruise Liner,Other*,クルーズ船などその他,"34.000,143.000",NaN,クルーズ船,NaN,NaN

In [133]:
countries.to_csv('country_stats.csv', encoding='utf_8_sig')